<div class="container-fluid ">
  <div class="card col-6 mx-auto mt-3">
    <div class="card-body">
      <%= image_tag 'apex_erd.jpg', alt: "ERD", :class => "img-fluid rounded mx-auto d-block"%>
        <p class="card-text text-center m-2">
          The data source that I chose is from a game called "Apex Legends".
          It is a battle royale game where the last team that survives wins.
          The dataset includes the character's name from the game, their title, quote, abilites and passive and lastly their images.
          Also they will be categorized by their roles, which is Offensive, Defensive, Support and Recon. I will be creating
          two tables, which will be legends and roles. The legend table will include the things I mentioned earlier and the roles table
          will only have name as a string to hold the role names.
        </p>
      </a>
    </div>
  </div>
</div>